[2015-05-07 23:32] braden-smith opened #1 "dgram 404"
Hello,
trying to create sample project in a browser for now.

Your JS has 3 dependencies: net/util/dgram.

"nodejs install dgram" results in a 404 however. Could you clarify where the dgram you used came from?

Thanks

[2015-05-08 00:23] zankich commented on #1
@braden-smith `dgram` is part of the node.js std lib https://nodejs.org/api/dgram.html.

For use in a browser  there needs to be a `dgram` compatible wrapper library around  something like chrome's udp library https://developer.chrome.com/apps/sockets_udp.

So as it stands right now, there is some extra work which needs to be done to run this in a browser....

[2015-06-17 16:46] zenati opened #2 "Is there a way to get realtime stats?"
Is there a way to get realtime stats? Altitude, Speed...

[2015-06-17 19:23] deadprogram commented on #2
Hi, @zenati the Bebop does provide a limited set of nav data, but we've not implemented yet. A pull request that added this, would be accepted with great pleasure :)

[2015-06-19 08:23] M0rph3v5 opened #3 "Not in npm registry? node-bepop"

[2015-06-19 14:04] deadprogram commented on #3
Looks like it is there to me: https://www.npmjs.com/package/node-bebop

Was it possible you were having network problems?

[2015-06-19 17:37] jackcwebb opened #4 "Movements"
I am using this for a competition and I have a question for you. Is there any way of making the bebop move forwards or backwards using this library or is there any way you could update to add that functionality. It would be greatly appreciated.

[2015-06-19 18:06] zankich commented on #4
@jackcwebb yes you can use the [forward](https://github.com/hybridgroup/node-bebop#forwardval) and [backward](https://github.com/hybridgroup/node-bebop#backwardval) functions to do that.

[2015-06-19 18:10] M0rph3v5 commented on #3
Tried, gave me an error in terminal of no such package. Then tried
searching for it on the npm website again, couldn't find anything when
searching for bebop.
Weird. Let me try again when I get home in a sec.

On Fri 19 Jun 2015 at 16:04, Ron Evans <notifications@github.com> wrote:

[2015-06-19 21:13] deadprogram commented on #3
Hi, @M0rph3v5

To install this module, you need to use `npm install node-bebop` as listed here: https://github.com/hybridgroup/node-bebop#how-to-install

Is that how you tried to install?

[2015-06-19 21:31] M0rph3v5 commented on #3
Lol, omg. I feel so stupid, I was typing npm install node-be*p*op ....
/facepalm

2015-06-19 23:13 GMT+02:00 Ron Evans <notifications@github.com>:

[2015-06-19 21:32] #3 closed

[2015-06-21 17:13] timotius02 opened #5 "getMjpegStream is undefined"
I was doing some testing with node-bebop and opencv when I stumbled upon this. I am currently using v0.2.0.
[code]

[2015-06-23 21:05] zankich commented on #5
@timotius02 the `getMjpegStream` function only exists in the master branch and has not been released to npm yet. I'll push up a new version soon with the latest changes.

[2015-07-08 01:34] dk683 opened #6 "bind EADDRINUSE"
Hello. I tried to run some sample code such as takeoff.js.
However, I am consistently getting the following error:
[code]
Could someone help me with this error?

For more information,
I installed node-bebop through using the following command:
npm install git:github.com/hybridgroup/node-bebop.git
My node version is v0.12.6 and npm is 2.11.2.

Thank you for your help!

[2015-07-08 14:28] deadprogram commented on #6
Hi, @dk683 are you sure you are connected from your computer to the drone's wifi? Remember you need to use the Bebop as an access point when connecting from your computer to the Bebop.

Or are you already connected from your mobile app to the drone? That error indicates some kind of IP address conflict, such as when you are already connected to the Bebop from something else.

Hope that helps!

[2015-07-08 14:41] dk683 commented on #6
Hello @deadprogram! Thank you for your comment.
Yes, I made sure that I connected my computer with Bebop.
And the error was actually consistently happening after successfully flying (or getting mjpeg streaming) once.

Previously, when I was working with Bebop's SDK code (https://github.com/Parrot-Developers/ARSDKBuildUtils), I noticed that they clean up Bebop(i.e. free reader thread array, stoppin

[2015-07-08 16:52] deadprogram commented on #6
That is not a problem we ourselves have run into ourselves. Node.js does not expose low-level threading routinues, and normally that is not needed.

Can you provide the code sample, as well as letting us know what OS and version of Node you are using? Thanks.

[2015-07-08 16:59] dk683 commented on #6
Thank you for your reply.
The code sample of the SDK was: BebopDroneReceiveStream.c that can be found in the following link: https://github.com/Parrot-Developers/Samples/tree/master/Unix/BebopDroneReceiveStream.

My OS verison is Ubuntu 14.04 and my node version is v0.12.6 and npm is 2.11.2.

I will try to debug further and figure out what is exactly causing the connection problem!

Thank you.

[2015-07-08 17:02] deadprogram commented on #6
I was referring to which node sample code you were running, sorry if that was unclear.

Do you have this same problem with other versions of node, such as 0.10.29?

[2015-07-08 17:15] dk683 commented on #6
I am using the latest github node (https://github.com/hybridgroup/node-bebop), and the sample code was takeoff.js:

"use strict";

var bebop = require("../.");
[code]

I haven't tried the other versions of node yet, but I will try!
Thank you.

[2015-07-10 00:08] zankich commented on #5
@timotius02 version 0.3.0 has been released to npm and should resolve this issue.

[2015-07-10 00:08] #5 closed

[2015-07-10 00:08] #4 closed

[2015-07-10 16:09] dk683 commented on #6
Dear @deadprogram,
Thank you! The problem was solved by downgrading node version from v0.12.6 to v0.10.29! :+1:

[2015-07-10 16:09] #6 closed

[2015-07-10 16:49] dk683 opened #7 "How to use events for Battery"
Hello! Thank you again for this nice code.
I am very new to node js.
Could someone briefly give me an example how to use events?
I am trying to display battery level, but I am having a difficulty.
Thank you!

[2015-07-10 22:41] zankich commented on #7
@dk683 this example should do what you need
[code]

[2015-07-12 02:34] dk683 commented on #7
It perfectly works! Thank you for providing the code :+1:

[2015-07-12 02:34] #7 closed

[2015-07-17 20:17] dk683 opened #8 "Takeoff Issue"
Hello.
I tried the following code and noticed that takeoff was not working properly: it initially ascended for 0.5 meter and then descended near to a ground. And this behavior (up and down) was kept going on. I also tried the sample code of takeoff.js and changed setTiemout time to 20seconds, but the same problem happened. I would like to ask whether the same problem happened to other people.
Than

[2015-07-20 02:36] zankich commented on #8
@dk683 When you tested with the freeflight app, was the drone on the same surface as when you tried with your node program?

[2015-07-20 03:39] dk683 commented on #8
@zankich Thank you for your reply. Yes, it was on the same surface (same room). Did you have the same problem what I had? Thank you!

[2015-07-20 15:57] zankich commented on #8
@dk683 which version of firmware does your drone have on it? I don't experience that issue with my drone. It takes off and lands just fine. Usually the drone will do that if there is an obstruction or if there is an uneven surface underneath the drone, but since the app works for you, it might be something in the API/firmware.

[2015-07-20 16:57] deadprogram commented on #8
Node version?

[2015-09-09 13:43] akhilphilip opened #9 "Live stream to browser"
Is there a way to live stream the h264 video received from getVideoStream() to an html <video> ?

[2015-09-29 15:57] ryanjbaxter opened #10 "Error loading file when running mjpeg-stream.js"
I am trying to run the mjpeg-stream.js example but I am getting the error

`[Error: Error loading file]`

Any idea why this is happening?  I am using node v0.12.4.

[2015-09-29 16:01] deadprogram commented on #10
Hi @ryanjbaxter pretty sure that version of node is not yet supported by this module? I cannot recall why at the moment. Can you please try an older version and see if you have same problem?

[2015-09-29 17:30] ryanjbaxter commented on #10
@deadprogram what version should i be using?

[2015-09-29 17:30] deadprogram commented on #10
I'd try 0.10.X

[2015-09-29 17:59] ryanjbaxter commented on #10
I switched to 0.10.38 and still see the same error.  I am OSX 10.10.5, not sure if that makes a difference.

[2015-10-02 13:48] ryanjbaxter commented on #10
Anyone have any other suggestions as to why this is not working?

[2015-10-02 17:34] deadprogram commented on #10
Do you have `ffmpeg` installed on your machine? I just realized the docs are missing the info that this is a needed prereq. The installation info for this on OSX  if you are using Homebrew is:

[code]

[2015-10-02 18:34] ryanjbaxter commented on #10
yes I have ffmpeg installed

[2015-10-06 15:31] ryanjbaxter opened #11 "Support For Getting GPS Coordinates"
Is it possible to add support for getting the GPS coordinates of the drone?

[2015-10-07 17:49] deadprogram commented on #11
The Bebop API shows `PilotingStatePositionChanged` with a `PositionChanged` packet: https://github.com/Parrot-Developers/libARCommands/blob/master/Xml/ARDrone3_commands.xml#L539

So it *should* be possible.

[2015-10-07 18:00] ryanjbaxter commented on #11
Any pointers on how to implement that?  Maybe an example of an existing event that is already implemented in the node bebop library?

[2015-10-07 18:05] deadprogram commented on #11
This is the `FlyingStateChanged` packet code that is currently implemented:

https://github.com/hybridgroup/node-bebop/blob/master/lib/bebop.js#L241

[2015-11-15 23:43] johan-olsson commented on #9
I achieved this with [Broadway](https://github.com/mbebenita/Broadway)

[2015-11-16 01:23] deadprogram commented on #9
@johan-olsson how did you do it with Broadway? The README says `The video player first needs to download the entire video before it can start playing`. Can you please show a code sample? Thanks!

[2015-11-16 04:10] johan-olsson commented on #9
This is what I did. In this example I'm using Electron but you might as well send the base64 data over a socket or 206 response.

[code]

[2015-11-16 15:15] johan-olsson opened #13 "Making it easier to send commands to drone."
I was thinking of implementing an easier way to communicate with the drone. My suggestion is that we use a similar method to getting the events from the xml files.

For example if one would like to add a call to tilt/pan the camera:

First take a look in the xml to see what we need to do this.
[code]
Then call something like this:
[code]

What do you think about this?

[2015-11-17 22:32] deadprogram commented on #13
That might work for an internal implementation. But the interface to the drone itself has 2 qualities I really want to preserve.

One is as much compatibility with `node-ar-drone` as possible. This makes it possible to use other code that works with the current nodecopter ecosystem.

The other is having as appealing an API as possible. I'd much rather call something like `Drone.camera.orientation(

[2015-11-17 22:37] johan-olsson commented on #13
Yeah, it was mostly meant for internal implementations. I just felt that it would be a lot easier then using the constants and writing the buffers by hand. I implemented some test functions the other day that look like this.
[code]

[2015-11-17 22:39] deadprogram commented on #13
That looks very nice. Did you generate this code, or write by hand? Either way, I think you are on the right track.

[2015-11-17 22:41] deadprogram commented on #13
I'd love to see the commands namespaced, perhaps like `Bebop.camera.orientation()` or `Bebop.common.reboot()`.

[2015-11-17 22:50] johan-olsson commented on #13
So far I wrote these part by hand. But as you see it's very generateable so I was planning to do that just to get them all in there.

Sure I will just namespace them like that. I guess the only inconstancies then would be the once already there.
[code]
would be the same as
[code]

[2015-11-17 23:40] deadprogram commented on #13
We should alias any commands to preserve the `node-ar-drone` commands, but if there are duplicates that would be ok, right? Programmers could just choose the newer API.

[2015-11-18 00:22] johan-olsson commented on #13
Agreed! Might even be a good idea to alias them eventually, just to save some processing.

[2015-12-19 22:23] uaedronemaster opened #14 "newbie question. how can i get videostream off the bebop"
Hello,

i wanted to know how can i get live video stream on an http local host?

and any references i can learn from?

thanks

[2015-12-24 15:27] johan-olsson commented on #14
I think you will find this issue helpful #9

[2015-12-24 15:39] johan-olsson commented on #9
@deadprogram did you get this working? In that case maybe we should close this issue and add a reference to the readme or something similar.

[2015-12-31 15:53] uaedronemaster commented on #14
Hello Johan,

I tried the code as you told me to but i am getting the following error.
may you please help me identify the source of the error.

[image: Inline image 1]

On Thu, Dec 24, 2015 at 7:27 PM, Johan Olsson <notifications@github.com>
wrote:

[2015-12-31 16:27] johan-olsson commented on #14
@uaedronemaster Think your image failed to upload or something.

[2015-12-31 16:47] uaedronemaster commented on #14
I havent installed emscripton thou, its not mandatory right! plus is there
an issue with the code ?

On Thu, Dec 31, 2015 at 8:27 PM, Johan Olsson <notifications@github.com>
wrote:

[2015-12-31 16:57] johan-olsson commented on #14
No it shouldn't be. But I meant that I can't see the image you posted of your error in your previous comment.

[2015-12-31 16:58] uaedronemaster commented on #14
well do u see it now?

On Thu, Dec 31, 2015 at 8:57 PM, Adham Al-Khaja <admalkhaja@gmail.com>
wrote:

[2015-12-31 16:59] uaedronemaster commented on #14
[image: Inline image 1]

On Thu, Dec 31, 2015 at 8:58 PM, Adham Al-Khaja <admalkhaja@gmail.com>
wrote:

[2015-12-31 17:00] uaedronemaster commented on #14
![capture1](https://cloud.githubusercontent.com/assets/16239818/12066449/7e7e9926-b001-11e5-91a2-e643dadf6280.PNG)

[2015-12-31 17:36] johan-olsson commented on #14
Does look like you haven't installed node-bebop. did you run `npm install node-bebop`?

[2015-12-31 17:37] uaedronemaster commented on #14
yes it is installed globally

On Thu, Dec 31, 2015 at 9:36 PM, Johan Olsson <notifications@github.com>
wrote:

[2015-12-31 17:42] uaedronemaster commented on #14
i installed it locally now it says 'Broadway-masterPlayerPlayer' module is
not found.... what is that

On Thu, Dec 31, 2015 at 9:37 PM, Adham Al-Khaja <admalkhaja@gmail.com>
wrote:

[2015-12-31 17:42] johan-olsson commented on #14
Install it locally and try again. You shouldn't install it globally

[2015-12-31 17:44] uaedronemaster commented on #14
Yes i did ... i got a new error now

On Thu, Dec 31, 2015 at 9:42 PM, Adham Al-Khaja <admalkhaja@gmail.com>
wrote:

[2015-12-31 17:58] uaedronemaster commented on #14
![capture](https://cloud.githubusercontent.com/assets/16239818/12066910/951919c4-b009-11e5-8bb7-4bb8cd97b20e.PNG)

[2015-12-31 17:58] uaedronemaster commented on #14
I posted the new error picture

On Thu, Dec 31, 2015 at 9:44 PM, Adham Al-Khaja <admalkhaja@gmail.com>
wrote:

[2016-01-01 14:24] johan-olsson commented on #14
Maybe it's easier if you just post your code and I can have a look at it.

[2016-01-02 10:34] uaedronemaster commented on #14
this is the code:

var bebop = require('node-bebop');
var Player = require('./Broadway-master/Player/Player');
var Drone = bebop.createClient();
var stream = Drone.getVideoStream();

var player = new Player({
    useWorker: true,
    workerFile: './NodejsConsoleApp3/Broadway-master/Player/Decoder.js'
});

document.body.appendChild(player.canvas);

var toUint8Array = function (parStr) {
    var raw

[2016-01-03 17:40] johan-olsson commented on #14
Doesn't seem to be anything wrong with this assuming the paths are correct and you are creating an Electron app or similar. Is this the case?

[2016-01-03 22:58] deadprogram commented on #9
I did not have a chance to test yet, but am charging some batteries now to check it out.

[2016-01-07 17:01] uaedronemaster commented on #14
no i am not making and electron app.. what is that and am i suppose to make
an electron app to get the video live steam?

On Sun, Jan 3, 2016 at 9:40 PM, Johan Olsson <notifications@github.com>
wrote:

[2016-01-07 17:57] uaedronemaster commented on #14
I downloaded electron, but what should i do exactly? i am dragging and
dropping the visual studio .sln file in electron but it gives me an error?

On Sat, Jan 2, 2016 at 2:34 PM, Adham Al-Khaja <admalkhaja@gmail.com> wrote:

[2016-01-07 18:09] deadprogram commented on #14
@uaedronemaster I would not worry about Electron at this point, that was I think just a general question.

[2016-01-07 18:17] uaedronemaster commented on #14
ah okay. but im not able to stream video yet ... help please

On Thu, Jan 7, 2016 at 10:09 PM, Ron Evans <notifications@github.com> wrote:

[2016-01-07 18:39] johan-olsson commented on #14
Alright, in that case you have to divide the code to backend nodejs and client js with Broadway. Something like this should work assuming you are using browserify for the client.

Node part:
[code]

Client part:
[code]

[2016-01-07 21:09] johan-olsson commented on #14
@uaedronemaster I created a [project](https://github.com/johan-olsson/bebopBrowserVideo) for you to clone if you want an example on how to get it running.

[2016-01-08 10:20] uaedronemaster commented on #14
Thanks!! but just one last question... i ran the app.js using node and it
works and connects to the drone.... but where can i watch my live video
feed? i dont know where to type gulp-watch ..... i downloaded the chrome
extension which is the gulp-devtools but is that related ?

On Fri, Jan 8, 2016 at 1:09 AM, Johan Olsson <notifications@github.com>
wrote:

[2016-01-09 21:28] uaedronemaster commented on #14
Everything works well now including gulp watch... but the only problem is
that bufferutil module and utf8 cant be installed... it says error with
node-gyp rebuild ... cannot install optional dependencies. can you tell me
the version of nodejs and npm you are using ? thank you

On Fri, Jan 8, 2016 at 2:19 PM, Adham Al-Khaja <admalkhaja@gmail.com> wrote:

[2016-01-11 14:53] johan-olsson commented on #14
What bufferutil and utf8 can't be installed? Could you show me your installation error?

[2016-01-12 17:37] uaedronemaster commented on #14
this is the error i get :

Microsoft Windows [Version 10.0.10586]
(c) 2015 Microsoft Corporation. All rights reserved.

[21:33:12] Using gulpfile ~\Desktop\Robotics\Parrot
Bebop\bebopBrowserVideo-master\gulpfile.js
[21:33:12] Starting 'html'...
[21:33:12] Starting 'broadway'...
[21:33:12] Starting 'fonts'...
[21:33:12] Finished 'fonts' after 77 μs
[21:33:12] Starting 'clean'...
[21:33:12] Finished

[2016-01-12 17:47] johan-olsson commented on #14
I assume you have tried `npm install --save utf-8-validate bufferutil`? there might be some stuff that just don't come with node in windows. Never actually used it

[2016-01-12 18:30] uaedronemaster commented on #14
what do you use? mac? linux?

On Tue, Jan 12, 2016 at 9:47 PM, Johan Olsson <notifications@github.com>
wrote:

[2016-01-12 18:59] johan-olsson commented on #14
I use mac. But did you try to install the missing dependencies?

[2016-01-12 21:15] uaedronemaster commented on #14
Yes I did , but it fails at node-gyp rebuild

On Tuesday, January 12, 2016, Johan Olsson <notifications@github.com> wrote:

[2016-01-17 22:59] johan-olsson commented on #14
I really can't help you much with windows related issues. But the repository I linked you work so you should be able to google the more general errors you get

[2016-01-18 19:16] strongautoconcepts opened #15 "Camera movement?"
Hi guys.

Haven't had a chance to dig through every line yet but so far I'm thoroughly impressed.

One thing I didn't see was anything to do with moving the camera frame. I've noticed its mostly absent in all of the 3rd party bebop stuff. Is there a technical hurdle or is it just not implemented.

I appreciate all the hard work. Looking forward to participating where I can

[2016-01-18 19:18] deadprogram commented on #15
Hi, @strongautoconcepts thanks for the compliments. Actually, thanks to https://github.com/hybridgroup/node-bebop/pull/12 from @johan-olsson we are about to release that, along with *everything* else that the Bebop exposes in their public API.

[2016-01-19 00:02] strongautoconcepts commented on #15
fantastic!

thoughts on when #12 might be ready for public consumption?

[2016-01-19 07:08] #15 closed

[2016-02-05 19:20] leerlemoniii commented on #14
little late to this, but the node-gyp issues are likely because you are using a newer version of node.... I find that using nvm-windows on a windows box allows me to install and change node version (and npm) which then fixes most these node-gyp problems.  Newer (v4 and 5) nodes have issues with nodegyp stuff that was compiled with the old 0. vaersions... When node and IO merged.

[2016-02-08 23:41] #2 closed

[2016-02-12 09:55] manuelh9r opened #17 "Not possible to get video stream"
I want to fetch the video stream from the bebop 2. I tried the following code:

[code]

This throws the following error, and also the video example scripts are throwing the same error:

[code]

It seems that some parsing is not working correctly? The bebop 2 is on the latest firmware.

[2016-02-13 23:02] nelson-liu opened #19 "unknown event output is undisplayable unicode (Mac OSX 10.11, english)"
Hi,
I was testing out the GPS / networking functionalities, and noticed that the output when an unknown event is received is unable to be displayed on my computer. Here's how to reproduce:
[code]
after this, it will immediately start logging:
[code]
is there an alternative to simply console.logging whenever an unknown network event is received? it quickly clogs up the log and makes interacting wit

[2016-02-14 00:57] #19 closed

[2016-02-14 00:59] deadprogram commented on #19
Hi, @nelson-liu I just committed some code to emit an 'unknown' event, instead of just logging to the console. That should help address this issue.

[2016-02-14 01:00] deadprogram commented on #17
Hi, @manuelh9r that fix was released as part of version 0.4.0 today. Please give it a try!

[2016-02-14 01:01] deadprogram commented on #11
Hi, @ryanjbaxter you can now get the GPS info as part of the `PositionChanged` message. Check out https://github.com/hybridgroup/node-bebop/blob/master/examples/gps.js

[2016-02-14 01:02] deadprogram commented on #8
Hi, @dk683 are you sill having troubles with the latest version of `node-bebop`? If so, please reopen this issue. Thanks!

[2016-02-14 01:02] #8 closed

[2016-02-14 06:30] nelson-liu commented on #10
ping @ryanjbaxter @deadprogram did you ever find a solution to this error?

[2016-02-14 06:32] nelson-liu commented on #19
thanks, that indeed did!

[2016-02-14 19:49] ryanjbaxter commented on #10
@nelson-liu no I did not

[2016-02-14 20:07] ryanjbaxter commented on #11
Nice thanks I will take a look at it this week!  Has this been published to NPM?

[2016-02-14 20:29] deadprogram commented on #11
Yes, published yesterday.

[2016-02-16 20:47] deadprogram commented on #13
Now that this is in master branch, I am closing it :) Thanks again @johan-olsson for all your awesome work!

[2016-02-16 20:47] #13 closed

[2016-02-22 15:04] Silvanosky commented on #17
Hi, still having the problem :

[code]

[2016-02-22 15:51] johan-olsson commented on #17
What command are you using to get the stream?

[2016-02-22 15:56] Silvanosky commented on #17
I use the example video.js with the last version of node-bebop and a Bebop 2

[code]

[2016-02-22 16:08] johan-olsson commented on #17
@deadprogram do you think https://github.com/hybridgroup/node-bebop/blob/5d4c6dc4936fc8ae3bd4cb54c4f19a1e76412b19/lib/bebop.js#L298-L299 is to friendly?
Video data should't even get there so I'll to see what kind of event it's trying to handle when I get home to the drone.

[2016-02-23 21:01] johan-olsson commented on #17
What version of node are you using? I have been trying quite a few versions now and I can't recreate your issue.

[2016-02-23 21:27] Silvanosky commented on #17
I have node v0.12.9

[2016-02-23 21:39] johan-olsson commented on #17
Hmm alright, just tested with that one too now. Still no issue. I don't have the bebop 2 but they should run the same software so it shouldn't be that. What OS are you running?

[2016-02-23 21:55] Silvanosky commented on #17
I'm on Windows

[2016-02-23 22:08] johan-olsson commented on #17
Maybe it's something with that then. I'm on OS X, let's hope @deadprogram can look a bit more in to this

[2016-03-01 20:55] TheOssi opened #20 "No Events fired"
I registered to several events (ready,battery,landed,takingOff, Video, etc) but when running my application the only event that is fired is the ready event. All other events seem not be emitted or something. Even the example events.js is not working for me.
I installed the newest firmware on the drone and also got the latest version of node-bebop. Taking off and piloting works fine.

Any suggestio

[2016-03-01 20:58] deadprogram commented on #20
Hi, @TheOssi thanks for reporting. What is your exact firmware version?

[2016-03-01 21:07] TheOssi commented on #20
2.0.57 is the firmware version of the bepop

[2016-03-02 15:03] johan-olsson commented on #20
Are the "Raw Events" firing? `BatteryStateChanged`, `FlyingStateChanged` etc?

[2016-03-02 22:30] TheOssi commented on #20
@johan-olsson unfortunately they are not firing either.

[2016-03-03 16:43] qwert789 commented on #9
@johan-olsson I can confirm that the video not working with bebob 2 also other commands like land

[2016-03-03 20:13] deadprogram commented on #20
@TheOssi can you please post your code? Thanks.

[2016-03-03 20:18] TheOssi commented on #20
[code]

[2016-03-04 00:10] deadprogram commented on #20
Hi @TheOssi I made sure my Bebop 1 had firmware 2.0.57. I connected to the Wifi, and ran your provided code using Node 4.2.2 under Ubuntu 14.04 and it ran fine: https://gist.github.com/deadprogram/d54df9e08508a6b8099e

What Node.js version and OS are you using?

[2016-03-04 16:07] TheOssi commented on #20
Hi @deadprogram i am usually running node 5.7.1, but now I downgraded it to 4.2.2 for testing but it did not work either. My OS is windows 7.

[2016-03-04 16:11] TheOssi commented on #20
Update: Apparently my McAfee Firewall was somehow blocking the port for the incoming data from the drone. I turned it off and it works fine now.

[2016-03-04 17:22] #20 closed

[2016-03-04 21:56] TheOssi opened #21 "Moving Speed is inverted"
I was testing out a bit of the data and functions and recognized that the moving speed is actually negative when moving forward, even tho it is documented as postive(http://developer.parrot.com/docs/bebop/#a-name-ardrone3-pilotingstate-speedchanged-a).
This caused me some problems until I figured it out.
So is this intended or should it not be inverted?

[2016-03-05 01:31] Silvanosky commented on #9
http://developer.parrot.com/docs/bebop/#a-name-ardrone3-mediastreaming-videoenable-a
I think this is why people on bebop 2 can't get the stream

[2016-03-05 02:59] deadprogram commented on #9
@Silvanosky thanks for the link, sounds like we just need to call https://github.com/hybridgroup/node-bebop#mediastreamingvideoenableenable ala:

[code]

What do you think?

[2016-03-05 03:08] deadprogram commented on #21
That sounds like an error to me, we should follow the API as written.

[2016-03-05 04:14] vsafin-copart opened #22 "Drone starts drifting"
It seems like once I make drone take off using drone.take Off() and then start doing any other movements clockwise or right and left it start s drifting a lot all over the place. I am wondering if I am missing something

Program is really straight forward with takeoff and clockwise wrapped into setTimeout just like in the dance.js example I would expect drone to stay in place but it drifts away fo

[2016-03-05 10:19] Silvanosky commented on #9
It would be better to call it in the connect callback to be sure the drone get the packet

[2016-03-06 01:10] deadprogram commented on #9
Good point. So that does seem to be the correct configuration call, we need to update the docs and examples.

[2016-03-06 05:16] deadprogram commented on #22
Hi @vsafin-copart you should check the firmware version on the drone. Also, you might want to use https://github.com/hybridgroup/node-bebop#speedsettingshullprotectionpresent or https://github.com/hybridgroup/node-bebop#speedsettingsoutdooroutdoor depending on your environment.

[2016-03-06 08:55] qwert789 commented on #9
@deadprogram, @Silvanosky MediaStreaming is null when doing drone.MediaStreaming.videoEnable(1);
so this is not working :(

[2016-03-11 22:27] Sporks opened #23 "Video stream is 'jumpy'"
I noticed that when recording or streaming video from my Parrot drone, the video stream does not seem to be consistent.  It's almost as if it stops randomly and then starts again.  Any ideas why this might be?

[2016-03-12 15:58] deadprogram commented on #23
Hello, @Sporks are you referring to the recording on the drone itself, or recording on your computer from the stream coming from the drone?

[2016-03-13 17:30] xliefde opened #24 "how can i get the height information?"

[2016-03-13 17:39] deadprogram commented on #24
Hi, @xliefde you should listen for the `AltitudeChanged` event: https://github.com/hybridgroup/node-bebop#altitudechanged

https://github.com/hybridgroup/node-bebop/blob/master/examples/events.js shows how to subscribe to events.

Hope that helps!

[2016-03-13 18:01] xliefde commented on #24
it worked ! Thanks :)

[2016-03-14 22:45] deadprogram commented on #24
Glad to hear it!

Closing this issue.

[2016-03-14 22:45] #24 closed

[2016-03-16 21:05] Mezcall opened #25 "mavlink.start not working?"
Hello,

I'm trying to run a flightPlan in mavlink format, but i get an error:
It seems that this lib cannot parse the string? there is no write method in string type.

Code and error description bellow.

code:
    var obj = { filepath: "flightPlan.mavlink", type:"flightPlan" };
    drone.Mavlink.start(obj);

error:
\node_modules\node-bebop\lib\commandToBuffer.js:64
    types[part.type].write(buffe

[2016-03-20 23:25] brunoua opened #26 "Bebop 2 mjpeg-stream not working"
Hello,

I was trying to run the sample "mjpeg-stream" in my Beboop 2, however I encounter the following error:

/home/bruno/app/node_modules/node-bebop/lib/types.js:86
      return arg.enum[buffer.readInt32LE(index)].name;
                                                ^
TypeError: Cannot read property 'name' of undefined
    at Object.module.exports.enum.read (/home/bruno/app/node_modules/node-b

[2016-03-21 20:43] Sporks commented on #23
I am referring to the video stream to the computer, when using .getVideoStream()

[2016-03-22 15:39] deadprogram commented on #23
The quality of that stream is highly variable, by design I think. Parrot is trying to reduce latency at the cost of quality, and hence they recommend that recording is best done on the drone itself.

That said, perhaps there may be some things that could improve on the client side. I'll take another look.

[2016-03-25 13:28] Chetic commented on #9
I'm trying to see the video stream in some reasonable way where I don't need to see the drone to steer it. Is this even possible with node-bebop? The best solution I have so far is just doing "tail -f video.h264 | mplayer -" but we're still talking a second or two of lag and a LOT of decoding artifacts.

I've tried using your example @johan-olsson but I get an error saying "ReferenceError: print i

[2016-03-25 15:08] gcwelborn commented on #23
GIF image of video:
http://gcwelborn.github.io/img/drone-dashboard-example.gif

@deadprogram Maybe you can confirm that this is as good as it gets.
The frames themselves are very high quality, but the framerate constantly fluctuates.

[2016-03-25 15:13] deadprogram commented on #23
That GIF is very cool looking... except for the latency, of course. :)

My own machine's performance looks a lot better, however, there are several factors that might be impacting. I am often using OpenCV, rather then streaming to a web page with the additional weight of the mjpeg encoding/decoding.

Any way you can share the code with me, so I can try to reproduce your same setup?

Also, what OS/

[2016-03-25 16:12] gcwelborn commented on #23
Thanks @deadprogram. I first attempted OpenCV with no such luck, then moved on to Broadway - which @Sporks was able to get working. Important to note it's an electron application - and the Broadway folder has been gitignored, let me if you encounter any issues.

The code: https://github.com/gcwelborn/drone-dashboard
OS: OSX 10.11.3 (Macbook Pro mid-2010, 4gb RAM)
Node:  v5.5.0

[2016-03-27 21:02] Alain-Gateau commented on #17
I am having the same issue with the simple takeOff example script:

Users/alaingateau/node_modules/node-bebop/lib/types.js:86
      return arg.enum[buffer.readInt32LE(index)].name;
                                                ^
TypeError: Cannot read property 'name' of undefined
    at Object.module.exports.enum.read (/Users/alaingateau/node_modules/node-bebop/lib/types.js:86:49)
    at /Users/

[2016-04-02 12:30] xliefde opened #27 "Not compatible with Node.js 0.10.x"
var bebop = require('node-bebop');

var drone = bebop.createClient();

drone.connect(function() {
 drone.SpeedSettings.outdoor(0);
});

[2016-04-02 13:42] xliefde commented on #22
im having the same problem, the firmware version on the drone is up to date (2.0.57)

[2016-04-02 14:42] deadprogram commented on #22
Quite a few people seem to have had problems with drift on the Bebop, their forums have a lot of threads like https://community.parrot.com/t5/Bebop-Drone/Bebop-started-drifting-again/m-p/131673/highlight/true#M13193

I suggest running the calibration (via the iOS or Android app), and see if that helps out. I do not personally recommend doing firmware downgrades, as a couple people recommended on t

[2016-04-02 16:26] xliefde commented on #22
The strange thing is that when i use the free flight app on my phone ,it's not drifting ,it only starts drifting when i'm using the API

[2016-04-02 16:29] deadprogram commented on #22
I had a similar problem a couple times, and I cannot recall offhand what I did about it. Thinking...

[2016-04-02 16:53] deadprogram commented on #27
I suspect that this line of code here https://github.com/hybridgroup/node-bebop/blob/master/lib/SpeedSettings.js#L37 should probably be:

[code]

I'm charging up my batteries to try this out.

[2016-04-02 17:36] deadprogram commented on #27
I just tried the unmodified code, and did not have that problem. What version of Node are you running?

[2016-04-02 17:39] xliefde commented on #27
i'm running v0.10.25

[2016-04-02 17:41] deadprogram commented on #27
Hi, @xliefde I tested using both Node 5.8.0 and 4.2.2 and had no problems. What OS are you running? I tested with Ubuntu 14.04.

[2016-04-02 17:44] xliefde commented on #27
That's weird i'm running Ubuntu 14.04 too
The firmware on the drone is up to date ( 2.0.57)

[2016-04-02 17:45] deadprogram commented on #27
OK, was able to repro you problem in Node v0.10.40

I'll take a look to see if there is a simple solution for backward compat with old versions of Node.

[2016-04-02 17:46] xliefde commented on #27
Thanks !

[2016-04-02 18:52] deadprogram commented on #27
I think this is similar to a problem solved by @johan-olsson previously, perhaps he can be persuaded to look into it.

[2016-04-02 18:53] deadprogram commented on #25
Hi, @Mezcall according to the docs you need to load the mavlink file onto the drone (for example using FTP), before trying to load it using the Bebop API.

[2016-04-04 14:43] manuelh9r commented on #17
There seems to be an parsing/conversion error for the events sent from the drone (bebop.js:348). After a string value the offset is too large for a following enum value (offset must be 4 but is higher than 4).

With newer firmware the streaming disabled per default and needs to be enabled after connecting:

[2016-04-04 15:21] deadprogram commented on #17
Hi @manuelh9r thanks for looking into this. There are several breaking changes with the 2.0.57 firmware that I am trying to track down. Now that Parrot removed the Github issues for all their repos, seems like one of us is going to have to dig in with Wireshark to figure out what the current protocol changes are, and what changes will be needed in node-bebop to accommodate them.

[2016-04-06 11:33] brunoua opened #28 "I need to send my bebop 2 to a GPS point"
HI,

I nedd to send my bebop 2 to a GPS coordinate. Can i use this command "
GPSSettings.sendControllerGPS(obj)"? I try this but nothing happens.

Regards,
Bruno Barbosa

[2016-04-06 11:36] brunoua commented on #25
@deadprogram i load my mavlink file onto the drone using ftp and try "var mav = {filepath:"./internal_000/flightplans", type:"text/plain"};
drone.Mavlink.start(mav);"

but i have this error:

/home/bruno/app/node_modules/node-bebop/lib/commandToBuffer.js:59
    types[part.type].write(buffer, parseInt(part.value, 10), offset);
                     ^
TypeError: Object #<Object> has no method 'write'

[2016-04-06 14:16] deadprogram commented on #25
Hi, @brunoua I've not tried that capability yet.

However, I would think that `filepath:"./internal_000/flightplans"`should be the full path name to the actual MAV file, i.e. `filepath:"/home/root//internal_000/flightplans/myplan.mav"` or whatever the FTP root is.

Also `type` should be an enum either "flightPlan" or "mapMyHouse" (not used) according to the Parrot docs:

[code]

That said, from yo

[2016-04-06 14:38] deadprogram commented on #28
Hi, @brunoua the `sendControllerGPS` command is to tell the drone the location of the user for returning home during autonomous flight, not to tell the drone to navigate to that GPS location. According to Parrot docs:

[code]

[2016-04-06 16:28] brunoua commented on #28
Hi, @deadprogram  the only way I have is with mavlink?

Thanks for available time

[2016-04-06 16:28] deadprogram commented on #28
That is my understanding, yes.

[2016-04-06 17:04] brunoua commented on #25
I try this:

"use strict";

var bebop = require("node-bebop"),
    fs = require("fs");

var drone = bebop.createClient();

var mav = {filepath:"/home/root//internal_000/flightplans/flightPlan.mavlink", type:"flightPlan"};
//var obj = {latitude:"40.6338034", longitude:"-8.6606003", altitude:"2", horizontalAccuracy:"-1", verticalAccuracy:"-1"};

drone.connect(function() {
	drone.Mavlink.start(mav);

[2016-04-06 17:15] deadprogram commented on #25
I would try changing this line https://github.com/hybridgroup/node-bebop/blob/master/lib/Mavlink.js#L13
to:

[code]

Also, I made up that filepath, you need to telnet onto the drone to determine the "real" path.

[2016-04-06 17:30] brunoua commented on #25
I changed the file, however I have another error:

buffer.js:969
    throw new TypeError('value is out of bounds');
    ^

TypeError: value is out of bounds
    at checkInt (buffer.js:969:11)
    at Buffer.writeUInt16LE (buffer.js:1027:5)
    at Object.module.exports.u16.write (/home/bruno/app/node_modules/node-bebop/lib/types.js:29:14)
    at /home/bruno/app/node_modules/node-bebop/lib/commandToB

[2016-04-07 11:17] brunoua commented on #25
@deadprogram can you help me? I think that the library doesn't accept the argument "3".

Regards

[2016-04-07 14:20] deadprogram commented on #25
@brunoua you are correct. The current implementation seems to be limited to only supporting numeric params. Perhaps @johan-olsson might be willing to jump in to this conversation with some implementation details for adding string params?

[2016-04-07 14:45] aCard0s0 commented on #25
I have trying the same solution then @brunoua. I getting the same error. I trying debug your lib but javascript isn't my strong. @deadprogram  and @johan-olsson any suggestion will be welcome.
Thank you so much!

[2016-04-07 14:54] brunoua commented on #25
@deadprogram Thank you for your concern. I await that @johan-olsson will help us with this issue.

Regards

[2016-04-09 13:57] py4object opened #29 "Compatibility with bebop 1 ?"
Hey i'm wondering what should i do to make this api compatible with be
currently it's working but the drone is hella drifting and hard to control

[2016-04-09 16:32] deadprogram commented on #29
Hi, @py4object I pushed a branch named https://github.com/hybridgroup/node-bebop/tree/bugfix/control-pcmd that seems to fly with greater stability for me with the 2.0.57+ firmware.

Please give it a try and see how it works for you.

I also added a new alias command `drone.level();` for the poorly named `drone.stop()` to reset the PCMD flag to 0, which is what I think the root cause for the stabil

[2016-04-09 16:34] deadprogram commented on #22
Hi, everyone

I pushed a new branch https://github.com/hybridgroup/node-bebop/tree/bugfix/control-pcmd that handles the PCMD flag differently. Still testing it today, but please feel free to give it a try and let how it works for you.

[2016-04-09 17:14] brunoua commented on #25
@deadprogram there is no progress on this issue?

Regards
Bruno Barbosa

[2016-04-09 18:30] deadprogram commented on #25
From what I can tell, we're going to need to add code to handle `commands.json` when `"type":"string"` and `"type":"enum"`in this function https://github.com/hybridgroup/node-bebop/blob/master/lib/commandToBuffer.js#L46

[2016-04-09 18:40] deadprogram commented on #25
OK it looks to me that that this might actually be the same core problem as https://github.com/hybridgroup/node-bebop/issues/17 specifically https://github.com/hybridgroup/node-bebop/issues/17#issuecomment-205327905

[2016-04-10 00:26] brunoua commented on #25
@deadprogram I agree with the observation ... Is there any way to make this change quickly? There is another way to pass arguments to the function?

Thanks again for the available time. It is very important to me that this feature is working

[2016-04-10 00:38] deadprogram commented on #25
Understood, I am looking into it a bit.

Question: how did you create your MavLink file? I will need something for testing...

[2016-04-10 00:40] brunoua commented on #25
I created with the application freeflight 3. I will send you by email

[2016-04-10 00:45] brunoua commented on #25
@deadprogram I sent for you right now by email

[2016-04-10 11:43] brunoua commented on #25
@deadprogram if you have news please tell me

Regards

[2016-04-10 22:32] EricaFontes commented on #25
@deadprogram im having the same problem. Is there any solution yet ? It's really important for my application to have this feature. thanks =)

[2016-04-11 09:14] brunoua commented on #25
@deadprogram I've been debugging the library and noticed that in the function

"u16": {
    read: function(buffer, index) {
      return buffer.readUInt16LE(index);
    },
    write: function(buffer, data, index) {
    	console.log(data + " " + index);
    		buffer.writeUInt16LE(data, index);
      return buffer;
    },
    length: 2
  }

 the value of the "data" when i run the start command is -1

[2016-04-11 19:46] deadprogram commented on #25
Hi, @brunoua & @gustavonev3s

I'm experimenting with a new branch here https://github.com/hybridgroup/node-bebop/tree/bugfix/mavlink-commands

It is a pretty big refactoring of the code that parses the commands stored in the JSON dictionary.

One change is to the signature of the commands that take multiple params. In the case of `Mavlink.start()` it should now be:

[code]

I'm still unsure about

[2016-04-11 21:36] brunoua commented on #25
@deadprogram I created the following script now:

"use strict";

var bebop = require("node-bebop"),
    fs = require("fs");

var drone = bebop.createClient();

drone.connect(function() {

	drone.Mavlink.start("flightplan.mavlink", 0);

	drone.on("MavlinkPlayErrorStateChanged", function(data){
		console.log(data);
	});

	drone.on("MavlinkFilePlayingStateChanged",function(data){
		console.log(data);

[2016-04-12 00:25] deadprogram commented on #25
Sounds good. Just make sure you put your "flightplan.mavlink" file at the root of the FTP directory (at least according to the Parrot docs)

[2016-04-12 10:54] brunoua commented on #25
@deadprogram I tested this script:

"use strict";

var bebop = require("node-bebop"),
    fs = require("fs");

var drone = bebop.createClient();

drone.connect(function() {

drone.Mavlink.start("/internal_000/flightplans/flightplan.mavlink", 0);

drone.on("MavlinkPlayErrorStateChanged", function(data){
console.log(data);
});

drone.on("MavlinkFilePlayingStateChanged",function(data){
console.log(da

[2016-04-12 11:04] brunoua commented on #25
@deadprogram I also tested this script whit the branch ( https://github.com/hybridgroup/node-bebop/tree/bugfix/mavlink-commands):

var bebop = require("node-bebop"),
      fs = require("fs");

var output = fs.createWriteStream("./video.h264"),
    drone = bebop.createClient(),
    video = drone.getVideoStream();

video.pipe(output);

drone.connect();
drone.MediaStreaming.videoEnable(1); // this li

[2016-04-12 20:54] deadprogram commented on #25
Hi, @brunoua thanks for all the debug info.

My latest commits allow me to run the following examples without error:
- examples/piloting.js
It flew...

- examples/takeoff-events.js
It flew plus dumped a bunch of events to console

- examples/gps.js
It repeatedly dumped 500 values to the console as expected, since I was indoors and did not have a GPS lock

- examples/video.js
It dumped the video to

[2016-04-12 23:09] brunoua commented on #25
@deadprogram I tested your video.js example with node 5.8 and 4.2 and have the same error:

      return arg.enum[buffer.readInt32LE(index)].name;
                                                ^

TypeError: Cannot read property 'name' of undefined
    at Object.module.exports.enum.read (/home/bruno/Projeto/node-bebop-bugfix-mavlink-commands/lib/types.js:96:49)
    at /home/bruno/Projeto/node-beb

[2016-04-12 23:11] deadprogram commented on #25
Bebop 1 with 2.0.57

[2016-04-12 23:17] brunoua commented on #25
@deadprogram

I tried to update my version to 3.2.0 and now I get the following error:

/home/bruno/Projeto/node-bebop-bugfix-mavlink-commands/lib/bebop.js:325
      if (typeof event.arg !== "undefined") {
                      ^

TypeError: Cannot read property 'arg' of undefined
    at Bebop._packetReceiver (/home/bruno/Projeto/node-bebop-bugfix-mavlink-commands/lib/bebop.js:325:23)
    at emitT

[2016-04-12 23:27] deadprogram commented on #25
Not really. You can look thru the call stack to try to figure out which new event is breaking the code?

I do not have that version of the HW, and Parrot is notorious for both breaking changes and a lack of developer support. My Bebop1 works with the current code, and unless I could repro your problem, cannot do much about it.

[2016-04-12 23:32] brunoua commented on #25
@deadprogram Is it possible to put my bebop 2 with version 3.2.0?

How can I do that "You can look thru the call stack to try to figure out which new event is breaking the code?"?

[2016-04-12 23:46] deadprogram commented on #25
According to the Parrot docs, the 3.x firmware applies to the Bebop2, and the 2.x to the Bebop1. So, appears not to be possible to change that firmware.

https://github.com/hybridgroup/node-bebop/blob/bugfix/mavlink-commands/lib/bebop.js#L325 is the line of code that fails. I would guess that https://github.com/hybridgroup/node-bebop/blob/bugfix/mavlink-commands/lib/bebop.js#L322 is assigning unde

[2016-04-12 23:51] brunoua commented on #25
@deadprogram I tried this change and got this error:

Unknown command id: 2
/home/bruno/Projeto/node-bebop-bugfix-mavlink-commands/lib/types.js:96
      return arg.enum[buffer.readInt32LE(index)].name;
                                                ^

TypeError: Cannot read property 'name' of undefined
    at Object.module.exports.enum.read (/home/bruno/Projeto/node-bebop-bugfix-mavlink-commands/

[2016-04-12 23:54] brunoua commented on #25
if I remove the ".name" of /home/bruno/Projeto/node-bebop-bugfix-mavlink-commands/lib/types.js:96, the error disappears, but nothing happens

[2016-04-13 00:05] brunoua commented on #25
@deadprogram
Version 3.2.0 is also available for bebop 1 (https://community.parrot.com/t5/Bebop-Drone/bd-p/Bebop_EN) is able to update makes it easier to support the node-bebop

[2016-04-13 01:14] brunoua commented on #25
@deadprogram Ron i think that it's important:
I'm trying to change this lines https://github.com/hybridgroup/node-bebop/blob/bugfix/mavlink-commands/lib/types.js#L91-L104 to:

"enum": {
    read: function(buffer, index, arg) {
      if (buffer.length - index < 4) {
        return arg.enum[buffer.readInt16LE(index)].name;
      }
	console.log("Enum: " + arg.enum[0].name);
	console.log("test "+buffe

[2016-04-13 03:35] deadprogram commented on #25
Updated my BB1 to 3.2.0 firmware. Made several changes to handle unknown commands and enums. Give that a try, the examples are currently running for me without error.

[2016-04-13 07:47] brunoua commented on #25
@deadprogram I could now see streaming video ... I am very grateful!
Once I get I'll test the mavlink and put here the feedback. Thank you very much!

[2016-04-13 10:50] brunoua commented on #25
@deadprogram I tested now the flightplan.js, nothing happens, however it prints the following:

ready
BatteryStateChanged
92
FlyingStateChanged
landed
unknown <Buffer 01 0a 02 00 00 00 00 00 00 00 00 00 00>
{ state: 'stopped',
  filepath: '/data/ftp/internal_000/flightplans/flightPlan.mavlink\u0000\u0000\u0000\u0000\u0000',
  type: 'unknown enum' }

before that I ran the gps.js to make sure it got

[2016-04-13 19:03] brunoua commented on #25
@deadprogram Can you try the flightplan.js outdoor with your drone?

Regards

[2016-04-13 21:06] deadprogram commented on #25
According to the Parrot docs, I think the requirements to be met before calling `drone.Mavlink.start()` must be based on this:

[code]

So, make sure you have done a calibration (you can do using FF3 for now), that you have GPS lock, that you have a valid mavlink file, and that you call `drone.Piloting.takeOff()` before you call `drone.Mavlink.start()`.

[2016-04-13 21:19] brunoua commented on #25
I think that the flightplan have the takeoff function. So this is not needed to start him.

Can i do a calibration with a FF3 app?

Regards.

[2016-04-13 21:19] deadprogram commented on #25
I think, yes. You should be able to do a calibration with ff3, just don't reboot the drone.

[2016-04-13 21:27] brunoua commented on #25
soon as I got it, I will try. if you can test with your drone also please give feedback.

Thanks

[2016-04-13 21:44] deadprogram commented on #25
How do I get the file created by the flight plan off of my phone?

[2016-04-13 21:48] brunoua commented on #25
run once from your mobile phone, then connect to drone via ftp, go to " / internal_000 / flightplans / " and then just transfer the flightplan.mavlink file to your PC.

Got it?

[2016-04-13 22:47] deadprogram commented on #25
Created a flight plan, then nearly lost my drone. It was about 20 meters up, non-responsive... lucky but it crashed into a tree which softened the landing. Seems scratched but undamaged. I think I better find a better location for these tests.

[2016-04-13 22:51] brunoua commented on #25
bad luck, however managed to make the start to mavlink? what may have gone wrong? What is the script that you used?

[2016-04-13 23:44] deadprogram commented on #25
No, that was just using the flight plan software to see what would happen if my script actually worked.

[2016-04-13 23:54] brunoua commented on #25
So if you can test it with your flightplan script please give me a feedback.

I will try to do the same tomorrow morning.

[2016-04-14 03:23] deadprogram commented on #25
OK, here is where I'm at:

I've updated 2 of the examples `examples/events.js` and `examples/flightplan.js`

The event named "AvailabilityStateChanged" seems to be the one that indicates that the drone is ready to start an autopilot sequence.

Here was my output:
[code]

https://github.com/hybridgroup/node-bebop/blob/bugfix/mavlink-commands/examples/events.js#L26

So I modified `examples/flightpla

[2016-04-14 08:18] brunoua commented on #25
As soon as stop raining here I test. If you can test before me, tell me something please.

Regards

[2016-04-14 17:03] brunoua commented on #25
@deadprogram I tested the flightplan.js however, even will all conditions met, the state is paused... Once you get to test there, tell me something please.

[2016-04-14 17:05] deadprogram commented on #25
You got a different state than stopped? Please paste your output.

[2016-04-14 17:37] deadprogram commented on #25
I've got it working. Give me a few minutes to fix another error, and test a few more things out.

[2016-04-14 18:05] brunoua commented on #25
I just have the stopped state... Now i cant run it to have the output. If you have this working please tell me how
Thanks

[2016-04-14 18:18] deadprogram commented on #25
OK get the latest code I just pushed, it *should* work for you:

[code]

[2016-04-14 18:21] brunoua commented on #25
I like your output :)
As soon as it stops raining i will test

Thank you

[2016-04-14 18:23] brunoua commented on #25
The flightPlan.mavlink file must be in the "examples" or is what is already in the drone?

[2016-04-14 18:26] deadprogram commented on #25
It uses the path to what is in the drone. You can upload a file to the drone via FTP, the path just needs to match where it gets uploaded to.

That file was just to have an example of the file format on hand for future use.

[2016-04-14 18:28] brunoua commented on #25
Okay, exactly what I thought. Once I have feedback I put here.

Thank you very much @deadprogram

[2016-04-15 14:12] brunoua commented on #25
@deadprogram I tested now and it worked.

Thank you for your work and patience

[2016-04-15 14:41] deadprogram commented on #29
Hi @py4object we've just released v0.5.0 which has many improvements including the stability one I previously mentioned. Please give it a try, and if needed reopen this issue. Thanks!

[2016-04-15 14:41] #29 closed

[2016-04-15 14:42] deadprogram commented on #28
Hi @brunoua we've just released v0.5.0 which has many improvements including the Mavlink stuff you were such a great help with. Please give it a try, and if needed reopen this issue. Thanks!

[2016-04-15 14:42] #28 closed

[2016-04-15 14:43] deadprogram commented on #26
Hi @brunoua we've just released v0.5.0 which has many improvements including the video command fixes, as you had already confirmed. Please give it a try, and if needed reopen this issue. Thanks!

[2016-04-15 14:43] #26 closed

[2016-04-15 14:44] deadprogram commented on #25
Hi everyone we've just released v0.5.0 which has many improvements including the Mavlink stuff thanks especially to @brunoua for helping debug/test it. Please give it a try, and if needed reopen this issue. Thanks!

[2016-04-15 14:44] #25 closed

[2016-04-15 14:44] deadprogram commented on #22
Hi everyone we've just released v0.5.0 which has many improvements including greatly improved stability when hovering. Please give it a try, and if needed reopen this issue. Thanks!

[2016-04-15 14:44] #22 closed

[2016-04-15 14:45] deadprogram commented on #11
Hi @ryanjbaxter we've just released v0.5.0 which has many improvements including more support for the GPS events. Please give it a try, and if needed reopen this issue. Thanks!

[2016-04-15 14:45] #11 closed

[2016-04-15 14:46] deadprogram commented on #17
Hi everyone we've just released v0.5.0 which has many improvements including fixes needed for the 3.x version of the Parrot API. Please give it a try, and if needed reopen this issue. Thanks!

[2016-04-15 14:46] #17 closed

[2016-04-15 14:48] deadprogram commented on #10
Hi, @ryanjbaxter can you please retry this code with the new 0.5.0 node-bebop release? I am not able to reproduce myself with this version. I will leave this issue open to await some additional info.

[2016-04-15 14:51] deadprogram commented on #23
Hi, @gcwelborn while reading thru the Parrot dev forums, I saw a couple interesting tidbits. Seems that when the PCMD pings sent to the Parrot are not being received as often as it expects, the Parrot responds by throttling the video. Several devs mentioned to make sure to use the 5.8ghz wifi as well.

[2016-04-17 21:01] py4object commented on #29
Hi sorry ,I didn't have the time to try it out
Now that i just did ,it's flying really stable ! cheers

[2016-04-18 00:43] deadprogram commented on #29
Glad to hear it! :helicopter:

[2016-04-20 11:25] xliefde opened #30 "getVideoStream() nor getMjpegStream() Is not working after upgrade to 3.9.21"
Hi after i've upgraded the drone to 3.9.21 getVideoStream or getMjpegStream dont seem to be working

Here is a sample of my code

[code]

[2016-04-20 12:47] xliefde commented on #30
Just FYI if someone is having same problem now the stream is by default disabled (which wasn't the case ) you have to enable it on connection

[2016-04-20 23:59] deadprogram commented on #30
Hi @xliefde thanks for the feedback. You are absolutely correct, according to the Parrot docs, all versions of 3.x+ firmware have is disabled by default.

We had already previously modified all the examples to now have the needed `drone.MediaStreaming.videoEnable(1);` call. Do you think there should also be some mention in the README? If so, would you be willing to submit a PR with this info?

Tha

[2016-04-28 18:23] deadprogram commented on #27
Hi @xliefde are you still having this problem with the latest release?

[2016-04-28 18:24] deadprogram commented on #21
Hi @TheOssi are you still having this problem with the latest release?

[2016-04-28 18:40] deadprogram commented on #1
Hi @braden-smith did you ever look at https://github.com/feross/chrome-dgram or https://github.com/DecipherCode/firefox-dgram to solve this?

[2016-04-29 01:10] brunoua opened #31 "Problem with battery get"
Hi @deadprogram ,
I do not know if anyone has noticed, but the battery event is only released if the battery status change.

There is no possibility to pick immediately the battery status?

greetings

[2016-04-29 10:16] xliefde commented on #27
Unfortunately still it's same and my motherboard is broken now. even if i use the ios app for drone. It's still drifting.. After i fix it i'll work on sdk which is python.

[2016-04-29 14:22] kuche1991 opened #32 "Still error with arg.enum[value].name node_modules/node-bebop/lib/types.js:102 name = arg.enum[value].name;"
I used the standard example and still got

 with Version 0.5.0.

Fixed it in types.js line 99-108 temporary with:

[code]

Maybe there is a better Solution...

[2016-04-29 14:52] deadprogram commented on #32
Sorry, which one is the "standard example"? :)

Also, what OS/version of Node/Bebop firmware are you running?

[2016-04-29 15:19] TheOssi commented on #21
Hi @deadprogram im currently not working anymore with the bepop, I only had it for a limited time. So i can't check it at the moment. Sorry :)

[2016-04-29 17:58] kuche1991 commented on #32
Sorry, i meant the one in the "How to use"-Section:

[code]

We are using Node 4.4.3 on Ubuntu.
Our drone is the Bebop 2 with Firmware-Version 3.2.0 (the currently latest i think).

[2016-04-30 00:12] deadprogram commented on #32
Hi @kuche1991

I have Ubuntu 14.04. I installed Node 4.4.3 using nvm, and deleted/reinstalled my node modules.

I have a Bebop 1,  also running the 3.2.0 firmware. Ran that code without any problem.

That particular code is called when some event occurs that is supposed to be described by the enum. In this case it seems to be an unknown value. I cannot match your exact conditions, however I can co

[2016-04-30 00:23] deadprogram commented on #31
Hi @brunoua

This is what starts the drone sending notifications for all state changes https://github.com/hybridgroup/node-bebop/blob/master/lib/bebop.js#L251 so I'm not sure there is anything to be done about that? You could perhaps try calling it again?

[2016-04-30 10:26] kuche1991 commented on #32
Hi @deadprogram,

thanks for you quick response!
I won't have access to our drone over the weekend, but as soon as I have, I will tryout your solution and report the outcome.

[2016-04-30 15:16] deadprogram commented on #27
Hi @xliefde I've just confirmed that the new updates are working in Node 0.10.40, 4.2.2, and 5.8.0

I am going to close this issue, please reopen if you need further assistance when you get your drone fixed. Thanks again for your help!

[2016-04-30 15:16] #27 closed

[2016-05-02 14:03] kuche1991 commented on #32
Hi @deadprogram,

today i was able to test this with the drone again and all my tests worked out well now :)
Thanks again for your quick response!

[2016-05-02 14:03] #32 closed

[2016-05-03 09:31] brunoua commented on #31
Hi @deadprogram ,
It was my mistake. The problem is solved.

Thank you

[2016-05-03 14:39] deadprogram commented on #31
OK, great. Closing.

[2016-05-03 14:39] #31 closed

[2016-05-06 10:37] brunoua opened #33 "Bebop 2 change IP range"
Hello,
Does anyone know of any way to change the IP range to, for example 192.16.0.0/16, bebop 2?

Regards
Bruno Barbosa

[2016-05-07 18:31] deadprogram commented on #33
Hi @brunoua

You might be able to telnet into the drone, and then use the `bcmwl` command to do this.

Here is some info on that command on the bebop: https://community.parrot.com/t5/Bebop-Drone/Broadcom-B43236-WPA2-Config-Info-Seen-need-help-to-enable/td-p/22330

Please let us know what you find out.

[2016-05-11 10:46] brunoua commented on #33
Hi @deadprogram ,
I could not find any option to change the range of IP.

Regards

[2016-05-14 22:41] virtualcrosby opened #34 "Upgraded Firmware to 3.2.0 on BB Now can't connect"
I get a EHOSTUNREACH 192.168.1.102:44444 when i attempt to create the client now.

Are there any other steps needed to enable node-bebop with a v3.2.0 firmware on the BB?

[2016-05-14 23:18] deadprogram commented on #34
Hi, @bcrosby333 I am running same firmware no such problem, and so are many others, so it not some inherent problem.

I would suggest your verify that your computer is connected to the same WiFi as the drone provides, before running your node-bebop code.

Hope that helps!

[2016-05-14 23:29] bcrosby333 commented on #34
@deadprogram I am connecting to a AP via script after it starts up. See https://github.com/Parrot-Developers/Samples/wiki/Convert-Bebop-to-client-instead-of-access-point

There is where it fails. So i am not sure if it has anything to do with the node-bebop code. B/c you are right that if i just connect to the Bebop directly it works fine.

Any thoughts?

[2016-05-14 23:48] deadprogram commented on #34
If you know the IP address of the Bebop, you can override in your code by using the `ip` option

[code]

[2016-05-15 14:49] bcrosby333 commented on #34
Yep, that is how i connect. However it doesn't work when you modify the settings on the Bebop to connect to Wifi Access Point via it being the Access Point and you connecting to it.

[2016-05-15 15:00] deadprogram commented on #34
It might be obvious, but you need to enter your bebop's IP address, not your computer's IP address.

How are you determining your bebop's IP address, by looking at your router?

One other thing to check, make sure your router is not setup to disallow connects between machines on the internal subnet, the way many hotel/conference wifi is setup..

Can I please see a sample of your code?

[2016-05-22 08:48] issa127 opened #37 "How to use "Common.currentDate()" and "Common.currentTime()""
Hello,
 i can't set current date and time of controller.
i think use  "Common.currentDate()" and "Common.currentTime()" code.
but, it will not happend CurrentDateChanged and CurrentTimeChanged.

(sample)

var bebop = require('node-bebop');
var drone = bebop.createClient();

drone.on("CurrentDateChanged", function(data) {
    console.log("CurrentDateChanged",  data );
});

drone.on("CurrentTimeChan

[2016-05-28 10:42] davibe commented on #9
i got the same error. Print is not defined (OSX)

[2016-07-06 15:19] jruesch opened #38 "Is the CameraOrientationChanged Event Missing?"
Hi!

I don't seem to find an event which confirms the successful execution of the command Camera.Orientation(tilt, pan). Did I overlook it or is it missing?

The Parrot SDK API documentation states there is the 'Camera orientation changed' event after calling SetCameraOrientation(tilt, pan).

Any hints on how to implement that in case its missing? Need to extend constants.js and commands.js + bebo

[2016-07-20 15:39] wilpulling opened #39 "Video stream issues: Jumpy MJPEG stream / isolating H264 frames from the stream"
Hi,

I'm trying to do image processing on the video stream (from a Bebop 2) outside of node (for example, in a Python process). My goal is to use a named pipe to send each frame to the other process. I've managed to achieve this with getMjpegStream, but that stream is very inconsistent (even without my sending images over the pipe) and gives me about 1 fps. When I run the example, I get the follow

[2016-07-22 02:27] wilpulling commented on #39
Some additional information:
The "error loading file" I'm getting from mjpeg-stream.js is occuring every time the mjpg.on("data") listener receives a chunk which is less than ~40k bytes in length. These 'short' chunks are typically ~14k bytes in length. This makes me think the  stream is emitting a partial frame.

Wanted to add this detail in case it gives anyone an idea of what's going on. Would

[2016-07-28 02:34] tzist opened #40 "Example code 'mjpeg-stream.js' isn't working..."
Hello,

I'm trying to run an example code 'mjpeg-stream.js', but I can't get images.

I checked this code, and I found variant buf's value is still 'null'.

I guess a Bebop Drone's image data was not transferred to variant 'data'.

mjpg.on("data", function(data) {
  **buf = data;                                     ->  The data was not transferred. I guess...**
});

What should I do????

Somebody

[2016-08-12 18:00] ChrisWilliamson123 commented on #23
Hi, apologies for this being such a delayed post, but I only started working with this repo about 2 weeks ago.

I was having a similar problem to this so I commented out lines 696-707 here and set emit to true on line 694.
https://github.com/hybridgroup/node-bebop/blob/master/lib/bebop.js#L696

That stopped the issue of the video being 'jumpy' but adds some quality issues (I feel that this way rou

[2016-08-26 03:42] clokam opened #41 "Take Picture and Send to server?"
Is there anyway that we can use takePicture and send it back to the server. We are controlling the drone, but want to be able to take a picture from the drone and send it to a visual recognition API so if we can get it back to the server where we are controlling the drone we can do the rest.

[2016-08-26 10:32] deadprogram commented on #41
Hi @clokam you could certainly use that API call, and then subsequently use the FTP protocol to download the image file to the computer from the drone. Of course, you would need to either use a bridge or change the drone to connect in infrastructure mode to be able to access both the drone and the Internet connection from the computer.

Hope that helps!

[2016-08-26 15:47] clokam commented on #41
I am kind of new to this library and hence was slightly confused. Once we take the picture, how do we identify from internal memory that it was the picture taken just now. What sort of data structure is used to store the image?

Secondly, is there any documentation around the FTP protocol for the drone and how we can enable infrastructure mode so that we are connected to the drone and the Internet

[2016-09-09 09:20] manjuh opened #42 "flightplan.js didnt work"
Hi Everyone,

I tried autoflight sample flightplan.js today. I executed it on Ubuntu 14.04LTS. It didnt run. I am updating steps involved in executing it.
1. Switched on Drone (Calibration done before hand)
2. Connected to drone file system using ftp
3. /data/ftp/internal_000/flightplans directory structure was not there. Created it using mkdir.
4. copied my flightPlan.mavlink to created directory

[2016-09-12 05:11] manjuh opened #43 "Guys none of the node-bebop program ending they dont come out to prompt at all"
Hi Everyone,

I wrote below script to calibrate drone
calibrate.js
`var bebop = require('node-bebop');
var drone = bebop.createClient();
   drone.connect(function(){
    drone.Calibration.magnetoCalibration(1);

[code]

  });
});`

I executed it using nodejs like below
$ nodejs calibrate.js

The output is like below

`{ xAxisCalibration: 0,
  yAxisCalibration: 0,
  zAxisCalibration: 0,
  calibrati

[2016-09-22 13:39] SairyLyms commented on #40
The problem is same as on my Bebop2(Firmware ver. 3.3.0)
I think the problem is caused by this issue:
http://forum.developer.parrot.com/t/cannot-decode-video-after-upgrade-sdk-from-3-6-to-3-8-3/

[2016-11-04 19:21] ghost commented on #9
not sure if this helps, but since the video is streaming on a different port you can include the stream port number (55004) as part of the discovery connection which will enable getting the video stream from vlc or other media players.

[2016-11-11 04:25] Sramir27 opened #44 "video"
Having trouble grabbing the live video stream on my mac. Very new to all of this. was wondering if someone could explain a stepwise process on grabbing the video.

[2016-11-13 16:34] ChrisWills123 opened #45 "CurrentDate and CurrentTime commands not working."
Hi, the code I am executing to try and change the date are as follows:

[code]

I've inspected the packet that is sent to the drone and compared it with what is sent from the phone app (FreeFlight 3).

[code]

From bebop.py I can see that the first 2 bytes correspond to the data type and id. How come these are different? Shouldn't they be the same as FreeFlight uses the official SDK?

[2016-11-13 16:51] ChrisWills123 opened #46 "getVideoStream not working with Bebop 4.0 firmware"
Hi, for some reason, updating to 4.0 has stopped getVideoStream from working.

I've checked for the video packets in WireShark too and they are just not coming through from the drone.

[2016-11-16 13:50] deadprogram commented on #45
Hi, @ChrisWills123 there appear to have been a number of breaking changes to the Parrot API in that release. The XML definition file has even moved to a different repo https://github.com/Parrot-Developers/arsdk-xml

I will try to look into this when I get a chance to get my Bebop out and flash it to the latest firmware. In the meantime, any help to resolve would be greatly appreciated.

[2016-11-16 13:51] deadprogram commented on #46
Hi @ChrisWills123 please see my comment on your other issue, basically there appear to have been a number of breaking changes to the Parrot API in that release.

[2016-11-17 21:15] ChrisWills123 commented on #45
Hi @deadprogram

Yeah I've even tried downgrading the drone but not really had any luck there.

I'll take a deeper look into it tomorrow and see if I can resolve any of the issues (this one and the video stuff).

Cheers for the response.
Chris

[2016-12-06 16:26] phrohdoh opened #47 "Unexpected NULs in flightpath filename"
Following https://github.com/hybridgroup/node-bebop/blob/88512f1bfa0e8321c269961442a373fa4c9e1df5/examples/flightplan.js I am running into some issues.

I have tried both filepaths with the same results:

[code]

[code]

I don't know why there are NULs in my filepath (this is probably resulting in my `invalid enum` type):
[code]

Could I get some help regarding exactly which filepath I should give

[2016-12-06 19:06] phrohdoh opened #48 "Drone movement not implemented?"
Could someone clarify this please?

My understanding is that `moveBy{End}` are what actually make the Bebop 2 move (per the Parrot docs) so if these are not implemented that means I will be unable to move / flip / follow a flightplan with my drone, correct?

https://github.com/hybridgroup/node-bebop/blob/88512f1bfa0e8321c269961442a373fa4c9e1df5/docs/commands.md#pilotingmovebyobj

[2016-12-06 19:13] phrohdoh commented on #47
I even tried 'fixing' `Mavlink.js` with no change.

[code]

I am completely unable to continue work with this broken. 😢

[2016-12-22 22:06] arthursp commented on #46
Any news about this ? Will you implement it on a new version ?

[2016-12-25 09:52] Skorkmaz88 commented on #46
+1

[2016-12-26 09:25] deadprogram commented on #46
Hi, everyone. Sorry about delayed response.

The latest Parrot firmware that I tested (3.3.0 on my Bebop 1) the default is now to not stream video.

The solution is to call the `MediaStreaming` interface's `videoEnable()` function with a value of `1`:

`drone.MediaStreaming.videoEnable(1);`

Several of the examples already are doing this, because just calling `getVideoStream()` just obtains the st

[2016-12-26 09:25] #46 closed, assigned to nobody

[2016-12-26 09:30] deadprogram commented on #34
Since this appears to be something with the user's WiFi config and not node-bebop itself, I am closing. Thanks!

[2016-12-26 09:30] #34 closed

[2016-12-26 09:35] deadprogram commented on #47
Hi @Phrohdoh sorry about delayed response.

Not sure about your exact problem, but the Parrot API returns some extra null characters, but this was not impacting my use of autopilot. As of this commit https://github.com/hybridgroup/node-bebop/commit/1bb86af1f4b53e0eeb44ed46abe653fc979dff71 my flightplan was able to run, once my Bebop obtained a GPS signal.

I would suggest you look very closely at

[2016-12-26 09:36] deadprogram commented on #47
Oops, did not mean to close.

[2016-12-26 09:37] deadprogram commented on #48
As of the last time I worked on this module, those commands were not yet implemented on Parrot's API.

I suggest you use PCMD commands to move around, like the examples do, or else a flight plan created MAVLINK file.

Hope that helps!

Closing this issue, please reopen if needed.

[2016-12-26 09:37] #48 closed, assigned to nobody

[2016-12-26 12:13] deadprogram commented on #44
Hi, @Sramir27 there is not a step by step guide anywhere, sorry. The assumption is you will know how to work with the h.264 encoded video stream. I would suggest you investigate tools like ffmpeg.

You can run the `video.js` example like this:

[code]

which will create a file named `video.h264` with the streamed data from the drone. Then in a separate console, you can open a playback window using

[2016-12-26 12:13] #44 closed, assigned to nobody

[2016-12-26 12:20] deadprogram commented on #40
Hi, everyone. For sure that is not the problem, as I am running firmware 3.3.0 as well. I just tested again to be certain, and it worked.

I suggest you look into your opencv installation, as that is required to use this example.

I am going to close this issue, please reopen if needed. Thanks!

[2016-12-26 12:20] #40 closed, assigned to nobody

[2016-12-26 13:55] deadprogram commented on #45
Hi, @ChrisWills123

There are some changes here https://github.com/hybridgroup/node-bebop/tree/feature/firmware-4.0 that should correct your issues. Also check out the sample https://github.com/hybridgroup/node-bebop/blob/feature/firmware-4.0/examples/setdatetime.js strangely you must set both date and time for the drone to fire off the `CurrentDateChanged` and `CurrentTimeChanged` events.

[2016-12-26 15:27] deadprogram commented on #33
Hi @brunoua did you ever check out http://wiki.yobi.be/wiki/Parrot_Bebop#avahi

[2016-12-26 15:36] deadprogram commented on #43
All of the programs that we have written keep running by intention, so they can listen for events. The `connect()` function starts a timer that sends PCMD commands to the drone here: https://github.com/hybridgroup/node-bebop/blob/feature/firmware-4.0/lib/bebop.js#L249

Some nice person, like you perhaps, can write a `disconnect()` that disconnects things, that way your scripts can connect, send th

[2016-12-26 15:44] deadprogram commented on #38
Hi, @jruesch all of the commands and events are defined in the commands.json file which is generated from the Parrot provided XML files.

https://github.com/hybridgroup/node-bebop/blob/master/lib/commands.json

Events do not need anything else, if they are defined in the JSON file, and the drone sends them, they get fired. However, seems like there is not an event with the exact name you are looki

[2016-12-26 15:53] deadprogram commented on #47
@Phrohdoh this is the long saga of how we got mavlink working originally: https://github.com/hybridgroup/node-bebop/issues/25

[2016-12-26 15:55] Skorkmaz88 commented on #46
This means video example should work out of the box right?

[2016-12-26 15:58] deadprogram commented on #46
Yes, but If for some reason not working for you, you might want to check out the https://github.com/hybridgroup/node-bebop/tree/feature/firmware-4.0 branch which has the latest commands.

[2016-12-26 15:59] deadprogram commented on #41
The images are just normal jpg files. There is no special info about the FTP server on the drone, it is also just normal FTP.

Hope that helps!

[2016-12-26 15:59] #41 closed, assigned to nobody

[2016-12-26 16:00] deadprogram commented on #37
Hi @issa127 please check out my comments on https://github.com/hybridgroup/node-bebop/issues/45

Thanks!

[2016-12-26 16:03] Skorkmaz88 commented on #44
I am having issue with h264 file it is size zero and ffplay did not work. System is bebop 2 with firmware 4.0

[2016-12-26 16:47] deadprogram commented on #44
@Skorkmaz88 are you connected to the drone'e wifi network from your computer? Can you run other samples such as https://github.com/hybridgroup/node-bebop/blob/master/examples/takeoff.js and https://github.com/hybridgroup/node-bebop/blob/master/examples/events.js ?

[2016-12-26 17:58] phrohdoh commented on #47
Thank you! I was hoping to not have to purchase Parrot's software (F/OSS preference) but will do so if necessary.

I won't have any time to work on this project today but should hopefully sometime this week.
I'll bug you again if something goes strange or I'll close this if I am able to resolve my issue.

Thanks again! :-)

[2016-12-27 10:00] deadprogram commented on #39
Hi @wilpulling sorry about the greatly delayed response.

Please checkout the latest changes to the https://github.com/hybridgroup/node-bebop/tree/feature/firmware-4.0 branch I've added an example that uses RTP video:

https://github.com/hybridgroup/node-bebop/blob/feature/firmware-4.0/examples/rtp_video.js

Basically, you just turn on the video streaming on the drone during the initial discovery

[2016-12-27 10:03] deadprogram commented on #10
Closing due to age of issue. Please reopen if needed.

[2016-12-27 10:03] #10 closed

[2016-12-27 10:04] deadprogram commented on #14
Closing due to age of issue, and that the original point got a little lost. :)

Please open new issues as needed, thanks everyone!

[2016-12-27 10:04] #14 closed

[2016-12-27 10:58] Skorkmaz88 opened #49 "keyboard control"
Sorry it is not really a problem, I just wonder what would be the best approach to have control with the keyboard keys using this module. Currently, RTP example for firmware 4 seems to be working fine for video access, ideally it should be combined with video stream

[2016-12-27 11:08] deadprogram commented on #49
I'd personally suggest using https://github.com/hybridgroup/cylon-bebop and https://github.com/hybridgroup/cylon-keyboard

Kind of like https://github.com/hybridgroup/cylon-bebop/blob/master/examples/bebop_dualshock3.js but replacing the joystick with the keyboard.

[2016-12-27 12:17] Skorkmaz88 commented on #49
yet, do they support, firmware 4 ?

[2016-12-27 12:22] deadprogram commented on #49
cylon-bebop is a wrapper around node-bebop.

[2016-12-27 12:32] Skorkmaz88 commented on #49
cylon-bebop's new version causing a jump  before landing and acting weirdly, not able to land. It used work better. (currently ,Bebop 2, firmware 4.0), maybe I should add this issue to there.

[2016-12-27 12:56] deadprogram commented on #49
Good idea, please do so. But I think it is using older node-bebop, likely, so probably that is the problem, it needs an update to the next node-bebop.

[2016-12-27 13:00] Skorkmaz88 commented on #49
Done so, I think this issue can be closed

[2016-12-27 13:23] #49 closed, assigned to nobody

[2017-01-19 12:06] exclu10 opened #50 "opencv-face-tracking.js"
So, I've installed opencv and ffmpeg in order to run this program, but nothing happen after I execute it? How do I make this work?

[2017-02-22 12:18] ChrisWilliamson123 commented on #46
Hi @deadprogram

The video.js example doesn't seem to work with the Bebop 2 even with this new firmware branch. The drone records video to storage but the stream is non-existent.

I ran the video.js example but nothing was output to the video.h264 file. If you get change please could you look into this. If there's anything I can do to help just let me know.

Cheers,
Chris

[2017-03-09 06:42] Drone-project opened #52 "lossing connection"
Hello,

I we are  using this module in our senior project to make the drone autonomously track a target .However , I tried the provided sample code  and the drone kind of losing connection after taking off ,what happens exactly is that after executing  the script the drone takes off and keeps taking off or sometimes just hanging in the air without executing the land command .  This causes us a ser

[2017-03-14 14:21] CE93Geek opened #53 "moving commands speed parameter"
Hi,
I would like to know what is the unit used in implementing the speed parameter in the moving functions like "forward", "backward", "left" and "right". It says in the documentation that the speed are from 0 to 100 but what it is in term of what? like meter/sec? I need this information urgently as I am trying to make bebop moves in certain distance.

regards,

[2017-03-14 14:25] CE93Geek commented on #21
@TheOssi Hi, do you remember what is the unit of the speed parameter?

[2017-03-15 08:09] johan-olsson commented on #53
I think it's the amount of forward tilt the drone has. Pretty sure you change it in the settings too but I guess that doesn't help you much. Can't you use the gps?

[2017-03-15 08:40] CE93Geek commented on #53
@johan-olsson Hi, I didn't get what do mean by "forward tilt" could you please clarify it more? I really appreciate it. And for the GPS no I can't use it because in our project we are restricted to indoor experiments and the characteristic of our work is to plan autonomous navigation based on image processing (track target).

[2017-03-15 09:18] johan-olsson commented on #53
I actually meant pitch I guess :) [Aircraft_principal_axes](https://en.wikipedia.org/wiki/Aircraft_principal_axes). If you can't use GPS maybe this event is helpful [SpeedChanged](https://github.com/hybridgroup/node-bebop/blob/master/docs/events.md#speedchanged)

[2017-03-15 09:32] CE93Geek commented on #53
@johan-olsson I think you are right, I was reading /lib/bebop.js file and the forward function implemented as the change in the pitch value somehow.
Thank you very much for your response.

[2017-03-15 22:48] CE93Geek commented on #24
@xliefde hi, may I know how did it work with you? I subscribed the event and it was triggered even though bebop didn't takesoff yet, also it just indicated that the altitude changed, how can I get the exact height im meters for example?

[2017-03-21 16:23] tomrunia commented on #39
Hi @wilpulling, did you managed to read the video stream in Python? I am trying to use OpenCV (3.0 Python) to read the video stream, but so far I have no luck.

[2017-03-28 05:28] CE93Geek commented on #29
@py4object hi, what firmware did you have on bebop1 when it was stable?

[2017-04-05 08:55] DA75 commented on #9
@fleish007 What is the syntax of changing the port number ?

[2017-04-07 08:38] AlwaysCodeForFun opened #54 "what each row of data in the flightPlan.mavlink file means?"
QGC WPL 120
0	0	3	2500	0.000000	30.000000	2073600.000000	0.000000	0.000000	0.000000	0.000000	1
1	0	3	178	0.000000	6.000000	-1.000000	0.000000	0.000000	0.000000	0.000000	1
2	0	3	16	0.000000	5.000000	0.000000	360.000000	34.084763	-118.278091	3.000000	1
3	0	3	50000	0.000000	-1.000000	0.000000	0.000000	0.000000	0.000000	0.000000	1
4	0	3	21	0.000000	0.000000	0.000000	360.000000	34.084763	-118.278091	3.

[2017-05-23 12:09] max1542 opened #55 "enable video"
With my bebop 2 when i send the command  MediaStreaming.videoEnable(1) the event VideoEnableChanged return { enabled: 'error' }.

I don't understand why.

[2017-05-23 22:43] ghost opened #56 "no data on MjpegStream"
Hi,
Recently, for some reason I don't quite understand, the event on data of the mjpegStream is not activated, can someone please tell me why this is happening? I'm developing a project and its very important to me being to get the images captured by the drone.

![image](https://cloud.githubusercontent.com/assets/28909667/26379461/4bb0fb3c-4011-11e7-9eb6-f18d9b6aa30f.png)

[2017-05-26 12:34] Lorrath opened #57 "Changing Streaming Video Resolution ?"
Hi,

I'm currently doing a project where I need to stream in the highest possible resolution.

Although it exist in the Parrot SDK (http://developer.parrot.com/docs/reference/bebop_2/index.html#set-video-resolutions) I've looked through your command.md file but can't find anything to achieve it.

Is there a way I haven't seen ? If not, could you at least tell me if there's a way to achieve it usin

[2017-05-30 02:56] JohniYu opened #58 "My drone only moves to the left side."
i download this code and execute example/dance.js
My drone only moves to the left side
right, left, forward,backward all of codes only move to left.
But  it works well with smartphone applications.
What's the problem?

[2017-06-08 08:03] erangiar opened #59 "mjpeg_stream.js not emitting data buffers"
hello I'm totally new to drone programming and i'm trying to run the examples provided with my bebop 2. so far I've been able to send basic commands(eg : takeoff.js, dance.js) but I'm having a problem in receiving data from the drone. for example when I try to run mjpeg_stream.js it only prompts a empty window but no data. I've successfully installed opencv and ffmpeg packages. when i tested the c

[2017-06-13 06:23] ghost commented on #59
Hi, I have same exact problem and so far I'm not been able to solve it nor determine its cause. If I may ask, did you upgraded the drones firmware recently?

[2017-06-13 08:51] erangiar commented on #59
@pedroma2s yes I upgraded to firmware v.4.0.5
I've even tried the examples in firmware 4.0 folder as well. but didn't work yet

[2017-06-13 15:57] ghost commented on #59
@erangiar I had v.4.0.5 and it worked fine until I upgraded to the v.4.0.6. I rolled back the upgrades to the v.3.3.0 and then v.4.0.5, the version that I had before, in neither of those versions worked again. So I don't suggest wasting your time in trying that.
Seems that the problem has something to do with the upgrade process and not with the firmware version. I also have an open issue regardin

[2017-06-18 08:45] erangiar commented on #59
@pedroma2s worked fine means did it give the drone camera feed via the opencv window? Did you do any kind of pre configurations like changing port numbers or something. I'm asking just because I'm very new to this node js environment :) And have you tried opencv face tracking example?

[2017-06-20 14:22] ghost commented on #59
@erangiar actually a was a streaming the images to a python module and then displaying them using opencv. I didn't do any pre configurations. And no, I have not tried the opencv face tracking example, just a toturial to detect objects of certain colors.
![example](https://user-images.githubusercontent.com/28909667/27338098-3024f15e-55cc-11e7-8bb3-187594a1f219.png)
Here is the code I was using to s

[2017-07-20 18:38] oscar619 commented on #30
Hi @xliefde Sorry to bother you, you have some updated information to visualize the video of the drone parrot bebop 2?

[2017-08-31 10:50] ahnHeejune opened #60 "Which Bebop Firmware version compatible is this code, Video Streaming?"
Which version of bebop firmware should I use to use video protocol?

In fact, I used ok with this program last year, but after I upgraded to 4.0 it does not work.  I do not remember which version I used last year on my Bebop. So I tried with 3.3 version but it doe snot work with your code.

Can you tell me which one should I use?  Please tel me

[2017-08-31 15:25] Skorkmaz88 commented on #60
I was able to retrieve video from bebop 2 with framework version 4 around the beginning of this year. Actually, it didn't work for me before upgrading to 4.0

[2017-08-31 15:45] ahnHeejune commented on #60
Thanks for your reply.
1) what you mean by "framework" ? you mean firmware?
2) In fact, i am using Bebop-1
3) As far as i know, the video frame format that you use is as follows:

type (1B) :  Id (1B): seq (1B): length (4B): fn (2B):
flag (1B): fragnum (1b) : num_fragments_per_frame (1B)
video data (variable size)
for example)
03:		7d:		4d:	f4:03:00:00:	02:00:	00:	0a:		0e:

But with 4.0, Drone doe

[2017-10-02 19:54] MichaelFitzurka opened #61 "After updating Bebop 2 to the v4.3.0 firmware, a BD_NET_DC_EVENT_ID is received with an undefined data element"
Using the feature/firmware-4.0 branch,
And the v4.3.0 firmware on the Bebop 2 drone,
I started to receive an error on starting up the node app.

Cannot read property 'readUInt8' of undefined
at Bebop._packetReceiver (/home/michael.fitzurka/Projects/IoT_Demo/IoT-Demo_Drone/node_modules/node-bebop/lib/bebop.js:307:43)

line 307 is:
var commandProject = networkFrame.data.readUInt8(0),

I added a clau

[2017-10-05 23:37] Mastuerso opened #62 "Multiple Bebops"
Is there a way to connect more than one bebops using WIFI and IP to control multiple bebops at the same time, using a single computer sending orders?

[2017-10-06 03:10] karlhsu commented on #61
me too node-bebop crash ,upgrade to V4.3
D:\Node\FlyAuto\node_modules\node-bebop\lib\bebop.js:301
    var commandProject = networkFrame.data.readUInt8(0),
                                          ^
TypeError: Cannot read property 'readUInt8' of undefined
    at Bebop._packetReceiver (D:\Node\FlyAuto\node_modules\node-bebop\lib\bebop.js:301:43)
    at emitTwo (events.js:106:13)
    at Socket.emit

[2017-10-19 05:08] OmarJH opened #63 "Bebop 2 Video Streaming"
I am trying to run mjpeg-stream example the video window pop-up but no image appears
all other examples work fine

bebop firmware v 4.3

[2017-10-19 06:41] CE93Geek commented on #63
What is the version of opencv you are using? This example was running fine with me using old bebop firmware v1.9 with openCV 2.4 as recommended.

[2017-11-23 00:56] Mastuerso opened #64 "Piloting"
## I have this code:
[code]
The drone takes off
Does nothing
Lands
I was wondering if there is a way to fix that because according to [http://developer.parrot.com/docs/reference/bebop/index.html#move-the-drone-to-a-relative-position](url) which is supportted since 3.3.0, currently my drone is running the 4.4.0

[2017-11-23 15:53] Mastuerso commented on #62
### To connect multiple drones there are two options:

1. Make use of a bridge to keep them as "Access Points".

2. Change their internal adjustments to put them in "Infrastructure mode".

Note I found a snippet that promises to [Convert Bebop to client](https://github.com/Parrot-Developers/Samples/wiki/Convert-Bebop-to-client-instead-of-access-point)

[2017-11-23 15:53] #62 closed, assigned to nobody

[2017-12-02 06:06] muf commented on #64
@Mastuerso
 `moveBy` function seems like not implemented yet.. only Draft :)
 link : https://github.com/hybridgroup/node-bebop/blob/master/docs/commands.md#pilotingmovebyobj

[2017-12-15 20:03] #64 closed, assigned to nobody

[2018-01-13 22:34] kolki opened #65 "Error bebop.js : Cannot read property 'readUInt8' of undefined"
i have encountered this error

TypeError: Cannot read property 'readUInt8' of undefined
    at Bebop._packetReceiver (/home/kit/node_modules/node-bebop/lib/bebop.js:301:43)
    at emitTwo (events.js:87:13)
    at Socket.emit (events.js:172:7)
    at UDP.onMessage (dgram.js:480:8)

as i test any command.

in fact i modify bebop.js like this

line 307 FROM

[code]
TO

[code]

it seems sometime data

[2018-03-14 15:16] ybchoo opened #66 "NodeJs Example."
Hi Fellows.
Will appreciate if you can release some NodeJs sample code on
1) How to start moving Bebop from ground up 1 meter, move 45 degree for 10 meter, then
land within 3 minutes.
Within the time frame, drone is able to yaw, rotate and pitch.
2) Provide functions that allows one to zoom on suspected person etc.
Hope you can improve on examples as IT HAS not been updated for 2 years! Thanks

[2018-04-02 08:05] ybchoo opened #67 "Question On How To Capture Video From Drone In Real Time"
Hi There
I will like to know how can I stream video from Bebop drone in real time to a browser.
Can kindly provide some samples?

Thanks

[2018-04-30 06:46] Shtivi commented on #55
I get the same result too, anyone knows why?

[2018-04-30 18:37] arapocket commented on #65
Keep getting this as well

[2018-05-09 16:36] Starystars67 commented on #65
I too am getting this error at the moment

[2018-05-09 22:01] Starystars67 commented on #65
Making this edit to /lib/bebop.js allows things to work without this readUInt8 but i dont know what issues it might cause down the line:

`if (networkFrame.id === constants.BD_NET_DC_EVENT_ID ||
      networkFrame.id === constants.BD_NET_DC_NAVDATA_ID) {

    //var //commandProject = networkFrame.data.readUInt8(0),
        //commandClass = networkFrame.data.readUInt8(1),
        //commandId = netw

[2018-05-12 14:06] Shtivi opened #69 "VideoEnabledChanged returns error at Bebop drone"
Hi,
i've been trying to get the video stream from my bebop (1) drone, according to the guide:
https://github.com/hybridgroup/node-bebop/blob/master/examples/video.js.
But the stream is not starting and I don't get the 'video', 'data' or 'error' events emitted.
I tried to debug it by listening to the VideoEnabledChanged event and when I send the **MediaStreaming.videoEnable(1)** command it sends an

[2018-05-31 14:24] arthursp commented on #69
Yes : the bepop sdk has changed and this repo didn't follow up

[2018-06-03 12:07] Shtivi commented on #69
Humm.. ok, so what do I have to do to get it work?

[2018-06-04 09:07] arthursp commented on #69
Two options :

- Take the C SDK from parrot, and reverse engineering the process of coding + decoding packets
- Use Wireshark to see which command is send when streaming video from official app

[2018-08-07 21:22] ManuelCostanzo opened #70 "Streaming not working"
Hello, streaming is not give anything, why ?

Thank you

[2018-08-11 09:57] evilqubit commented on #65
so what is a permanent fix ?

[2019-01-08 22:23] alishibli97 opened #71 "OpenCV video streaming"
How can we stream video live from bebop 2 camera using opencv ?

[2019-01-08 23:53] alishibli97 commented on #65
Did you find any solution?? please

[2019-03-14 07:11] Tsunamayo726 opened #72 "PositionChanged not working"
I'm japanese. I'm not good at english,sorry.
I use bebop2.

PositionChanged
{ latitude:500,longitude:500,altitude:500 }
PositionChanged
{ latitude:500,longitude:500,altitude:500 }...for a long time.
Why?

[2019-09-08 05:45] Ryo-ta8976 opened #73 "I don't know how to calibrate."
Hello.
Now I want to rotate with bebop using clockwise (), but bebop flows.
Calibration can be considered as a countermeasure.
I'm trying to calibrate using magnetoCalibration (), but I don't know if it's done.
Could you tell me how to calibrate?

[code]

[2020-12-20 00:52] panamantis commented on #71
https://github.com/codecentric/computer-vision-drone/blob/master/_posts/2017-03-03-stream-bebop-video-with-python-opencv.md